body {
    background-color: black;
    color: white;
}

.instructions {
    line-height: 2;
}

.key {
    border: 1px solid white;
    border-radius: 2px;
    display: inline-block;
    padding: 5px 10px;
}

.incorrect {
    color: red;
}